@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our online Magnum store</h1>
    <p>In this web application you can add a new customer, edit, delete or view the list of customers of the store</p>
</div>
